*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
/* This styles all input elements */
input{
    font-family: inherit;
}

textarea{
    font-family: inherit;
}
a{
    text-decoration: none;
}
/* Ensure the main section background shows on all screen sizes */
.main_section_image{
    min-height: 300px;
    width: 100%;
    background-image: url("../Images/mainsectionhouse.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (min-width:1200px){
    /* This styles the header element */
    header{
        height: 100px;
        width: 100%;
    }
    /* This styles the navigation bar */
    nav{
        height: 70px;
        width: 80vw;
        background-color: white;
        z-index: 2;
    }
    /* This styles the logo text */
    .logo{
        font-weight: 700;
        font-size: 20px;
    }
    /* This styles the navigation links container */
    .nav_link1{
        height: 100%;
        width: 25vw;
    }
    /* This styles the individual navigation links */
    .nav_link1>a{
        height: 40px;
        width: 6vw;
        text-align: center;
        align-content: center;
        border-radius: 5px 5px 5px 5px;
        text-decoration: none;
        color: black;
    }
    /* This styles the navigation links on hover */
    .nav_link1>a:hover{
        height: 40px;
        width: 6vw;
        transition-duration: 0.5s;
        color: white;
        background-color: black;
    }
    /* This styles the login and sign up links container */
    .nav_link2{
        height: 100%;
        width: 18vw;
    }
    /* This styles the login and sign up links */
    .nav_link2>a{
        height: 40px;
        width: 8vw;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        align-content: center;
        text-decoration: none;
        color: black;
    }
    /* This styles the login link on hover */
    .login:hover{
        transition: 0.5s;
        color: white;
        background-color: black;
    }
    /* This styles the sign up link on hover */
    .signin{
        border: 1px solid grey;
    }
    /* This styles the sign up link on hover */
    .signin:hover{
        transition-duration: 0.5s;
        background-color: #d3d3d3;
    }
    /* This styles the section element */
    section{
        height: 3220px;
        width: 100%;
    }
    /* Main section container */
    .main_img{
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Main section image with hover effect */
    .main_section_image{
        height: 500px;
        width: 80vw;
        background-image: url("../Images/mainsectionhouse.jpg");
        background-size: 100%;
        transition: background-size 0.5s ease;
    }
    /* Main section image hover effect */
    .main_section_image:hover{
        transition-duration: 0.5s ease;
        background-size: 120%;
        box-shadow: 0px 0px 15px 0px gray;
    }
    /* Title for the featured properties section */
    .title{
        width: 40vw;
        font-size: 40px;
        padding: 20px;
        margin-left: 40px;
        font-weight: 700;
    }
    /* Container for the featured properties section */
    .featured_properties{
        height: 790px;
        width: 100%;
        display: grid;
        place-content: center;
    }
    /* Title for the featured properties section */
    .featured_titles{
        height: 80px;
        padding-left: 40px;
    }
    /* Container for the Swiper slideshow */
    .swiper {
        width: 100%;
        height: 100%;
    }
    /* Slideshow container */
    .slideshow_container{
        height: 500px;
        width: 85vw;
   }
   /* Each slide */
    .swiper-slide {
        font-size: 18px;
        background: #444;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /* Slide image */
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    /* Property information container */
    .property_info{
        height: 100px;
        width: 25vw;
        border: 1px solid grey;
        backdrop-filter: blur(5px);
        margin-top: 300px;
        padding-left: 20px;
    }
    /* Property information text */
    .price{
        color: white;
        font-weight: 600;
        font-size: 20px;
    }
    /* Property name and location text */
    .property_name,.location{
        color: gainsboro;
        font-size: 14px;
    }
    /* Why choose us section */
    .why_us{
        height: 570px;
        width: 100%;
    }
    /* Why choose us section title */
    .why_us_heading{
        text-align: center;
        font-size: 50px;
        font-weight: 600;
    }
    /* Container for the reasons to choose FindHome */
    .reasons_div{
        height: 450px;
        width: 100%;
    }
    /* Individual reason boxes */
    .reasons{
        height: 300px;
        width: 30vw;
        border: 1px solid #d3d3d3;
    }
    .reasons:hover{
        transition-duration: 0.5s;
        box-shadow: 0px 0px 10px 0px gray;
    }
    .reasons>i{
        font-size: 40px;
        font-weight: 600;
    }
    /* Reason title text */
    .reasons_title{
        font-size: 30px;
        font-weight: 600;
    }
    /* Reason information text */
    .reasons_info{
        font-size: 16px;
        color: #555;
    }
    /* Market section */
    .market{
        height: 720px;
        width: 100%;
    }
    /* Market section title */
    .market_heading{
        font-size:40px;
        font-weight: 600;
    }
    /* Container for market information and image */
    .market_info{
        height: 600px;
        width: 100%;
    }
    /* Market image */
    .market_info>img{
        height: 400px;
        width: 40vw;
        box-shadow: 0px 0px 15px 0px gray;
    }
    /* Container for market information boxes */
    .market_info_div{
        height: 400px;
        width: 45vw;
        gap: 10px;
    }
    /* Individual market information boxes */
    .market_info_div>div{
        height: 180px;
        width: 20vw;
        background-color: white;
    }
    /* Market information box hover effect */
    .market_info_div>div:hover{
        transition-duration: 0.5s;
        background-color: black;
        color: white;
    }
    /* Market information box title */
    .one{
        font-size: 30px;
        font-weight: 700;
    }
    /* Market information box content */
    .ready{
        height: 500px;
        width: 100%;
        place-content: center;
    }
    /* Container for the ready to move in section */
    .ready>div{
        height: 400px;
        width: 80vw;
        box-shadow: 0px 0px 10px 0px gray;
        background-image: url("../Images/readyhomeimage.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: background-size 0.5s ease;
        place-content: center;
        gap: 20px;
    }
    /* Ready to move in section image hover effect */
    .ready>div:hover{
        transition-duration: 0.5s ease;
        background-size: 120%;
    }
    /* Ready to move in section title */
    .ready_heading{
        width: 40vw;
        color: white;
        font-weight: 700;
        font-size: 30px;
    }
    /* Ready to move in section subtitle */
    .ready_title{
        width: 40vw;
        color: gray;
        font-size: 20px;
    }
    /* Container for the ready to move in section links */
    .ready_links{
        height: 60px;
        width: 40vw;
    }
    /* Search and speak to an agent buttons */
    .search{
        height: 40px;
        width: 13vw;
        background-color: white;
        color: black;
        font-size: 15px;
    }
    /* Search button hover effect */
    .agent{
        height: 40px;
        width: 13vw;
        color: white;
        border: 1.5px solid white;
        font-size: 15px;
    }
    .agent:hover{
        transition-duration: 0.5s;
        background-color: white;
        color: black;
    }
    footer{
        height: 200px;
        width: 100%;
        border: 1px solid;
        background-color: black;
    }
}    